<!DOCTYPE html>
<html>
<body>

    <% if flash.has?(:edit_error) %>
    <%= flash[:edit_error] %>
    <% end %>


<label><h2>Category:</label> <%= @favorite.category %></h2>

<p><label>Pick:</label> <%= @favorite.name %></p>

<p><label>Notes to self:</label> <%= @favorite.notes %>

<p><label>Link:</label> <a href="<%= @favorite.url.link %>" target="_blank"><%= @favorite.url.link %></a>

<p><label>Date submitted:</label> <%= @favorite.created_at.to_s.split(" ")[0] %>
<br>
<br/>

<a href="/favorites/<%= @favorite.id %>/edit"><button>Edit favorite</button></a>

<a href="/favorites"><button>Back to favorites</button></a>

<form action="/favorites/<%= @favorite.id %>/delete" method="POST">
<input type="submit" value="Delete favorite">
</form>


</body>
</html>